name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy rustfmt
    - name: Install wayland dependencies
      run: |
        pacman -Syu --noconfirm wayland base-devel mesa pango cairo
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
